<h1>Confirmation de commande</h1>
<p>Cher/Chère {{name}},</p>
<p>Merci pour votre commande ! Votre numéro de commande est le
  {{orderNumber}}.</p>
<p>Nous allons la traiter dans les plus brefs délais.</p>