<div
  style='font-family: Arial, sans-serif; color: #333; padding: 20px; background-color: #f9f9f9;'
>
  <h2 style='color: #2c3e50;'>Réinitialisation de votre mot de passe</h2>
  <p>Si vous avez demandé la réinitialisation de votre mot de passe,
    veuillez utiliser le code de vérification ci-dessous. Si ce n'est
    pas vous, vous pouvez ignorer cet e-mail en toute sécurité.</p>

  <div style='margin: 30px 0; text-align: center;'>
    <p style='margin-bottom: 10px; font-size: 16px;'>Votre code de
      vérification :</p>
    <h3
      style='color: #e74c3c; font-weight: bold; font-size: 28px;'
    >{{code}}</h3>
  </div>

  <p>Ce code est valable pendant une durée limitée. Si vous rencontrez
    toujours des problèmes, veuillez contacter notre service
    d’assistance.</p>

  <br />
  <p style='font-size: 14px; color: #888;'>— L’équipe Dahbia</p>
</div>