<div>
  <h1>Forgot your password? If you didn't forget your password, please
    ignore this email!</h1>
  <p>Use the following code to verify your account:
    <h3
      style='color: red; font-weight: bold; text-align: center'
    >{{code}}</h3></p>
  <h6 style='font-weight: bold'>Ecommerce-Nest.JS</h6>
</div>